{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
		<body>
        <!-- Start post Area -->
			<section class="post-area section-gap">
				<div class="container">
					<div class="row justify-content-center d-flex">
						<div class="col-lg-8 post-list">


							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="{% static 'img/post.png' %}" alt="">

								</div>
								<div class="details" style="margin-left: 100px; margin-top: 10px">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>
										</div>
										<ul class="btns" style="margin-left: 100px;">
											<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
											<li><a href="#">Apply</a></li>
										</ul>
									</div>

								</div>
							</div>

							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="{% static 'img/post.png' %}" alt="">

								</div>
								<div class="details" style="margin-left: 100px; margin-top: 10px">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>
										</div>
										<ul class="btns" style="margin-left: 100px;">
											<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
											<li><a href="#">Apply</a></li>
										</ul>
									</div>

								</div>
							</div>

							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="{% static 'img/post.png' %}" alt="">

								</div>
								<div class="details" style="margin-left: 100px; margin-top: 10px">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>
										</div>
										<ul class="btns" style="margin-left: 100px;">
											<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
											<li><a href="#">Apply</a></li>
										</ul>
									</div>

								</div>
							</div>

							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="{% static 'img/post.png' %}" alt="">

								</div>
								<div class="details" style="margin-left: 100px; margin-top: 10px">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>
										</div>
										<ul class="btns" style="margin-left: 100px;">
											<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
											<li><a href="#">Apply</a></li>
										</ul>
									</div>

								</div>
							</div>

							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="{% static 'img/post.png' %}" alt="">

								</div>
								<div class="details" style="margin-left: 100px; margin-top: 10px">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>
										</div>
										<ul class="btns" style="margin-left: 100px;">
											<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
											<li><a href="#">Apply</a></li>
										</ul>
									</div>

								</div>
							</div>

							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="{% static 'img/post.png' %}" alt="">

								</div>
								<div class="details" style="margin-left: 100px; margin-top: 10px">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>
										</div>
										<ul class="btns" style="margin-left: 100px;">
											<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
											<li><a href="#">Apply</a></li>
										</ul>
									</div>

								</div>
							</div>

							<div class="single-post d-flex flex-row">
								<div class="thumb">
									<img src="{% static 'img/post.png' %}" alt="">

								</div>
								<div class="details" style="margin-left: 100px; margin-top: 10px">
									<div class="title d-flex flex-row justify-content-between">
										<div class="titles">
											<a href="single.html"><h4>Creative Art Designer</h4></a>
											<h6>Premium Labels Limited</h6>
										</div>
										<ul class="btns" style="margin-left: 100px;">
											<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
											<li><a href="#">Apply</a></li>
										</ul>
									</div>

								</div>
							</div>


						</div>

					</div>
				</div>
			</section>
			<!-- End post Area -->



			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>	
			<script src="js/owl.carousel.min.js"></script>			
			<script src="js/jquery.sticky.js"></script>
			<script src="js/jquery.nice-select.min.js"></script>			
			<script src="js/parallax.min.js"></script>		
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script>	
		</body>
	</html>



