<form type="post">
    <label for="Job_title">Job Title</label>
        <input type="text" placeholder="Job_title" name="Job_title">
    <br>
    <label for="job_designation">Job Designation</label>
        <input type="text" placeholder="job_designation" name="job_designation">
    <br>
    <label for="Job_Description">Job Description</label>
        <textarea name="Job_Description" placeholder="Job_Description"></textarea>
    <br>
    <label for="City">City</label>
        <input type="text" placeholder="City" name="City">
    <br>
    <label for="Contact_Number">Contact Number</label>
        <input type="text" placeholder="Contact_Number" name="Contact_Number">
        <br>
    <label for="Company_Name">Company Name</label>
        <input type="text" placeholder="Company_Name" name="Company_Name">
        <br>
    <label for="Country">Country</label>
        <select name="Country">
            <option value="none" selected="" disabled="">Choose</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Panama">Panama</option>
            <option value="Philippines">Philippines</option>
            <option value="Oman">Oman</option>
            <option value="Afghanistan">Afghanistan</option>
        </select>
        <br>
    <label for="Region">Region</label>
        <select name="Region">
            <option value="none" selected="" disabled="">Choose</option>
            <option value="Islamabad">Islamabad</option>
            <option value="Quetta">Quetta</option>
            <option value="Lahore">Lahore</option>
            <option value="Karachi">Karachi</option>
            <option value="Peshawar">Peshawar</option>
        </select>
    <br>
    <input type="submit" class="btn btn-primary" value="SAVED"/>
</form>